.packetListClass {
    width: 100% !important;
}

.modal-espera{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

div.loading .modal-espera{
    overflow: hidden;
}

div.loading .modal-espera{
    display: block;
}